<label>Prayer Requests</label>
<div class="feed">
    {% if prayers|length %}
        <ol class="prayer-list">
            {% for prayer in prayers %}
                {% include "PrayerToShareMainBundle:Dashboard:_prayer.html.twig" %}
            {% endfor %}
            <li class="show-more">
            	<a href="#">View older prayer requests</a>
            </li>
        </ol>
    {% else %}
        No prayer requests
    {% endif %}
</div>
