{% for membership in app.user.prayerGroups %}
    <p><a href="{{ path('group_view', {id: membership.prayerGroup.id}) }}">{{ membership.prayerGroup.name }}</a></p>
{% endfor %}
<a href="{{ path('group_list') }}">View All Groups</a>
