<div class="profile-image">
    <img src="{{ asset('img/noprofileimage.jpg') }}" align="left">
</div>
<div>
    <div class="profile-name">
        <a href="#">{{ app.user.firstName and app.user.lastName ? app.user.firstName ~ ' ' ~ app.user.lastName : 'Name Here' }}</a>
    </div>
    <a href="{{ path('fos_user_profile_edit') }}" class="profile-link">(edit profile)</a>
</div>
