<div class="profile-image">
    <img src="{{ asset(profile_image(app.user)) }}" align="left" title="{{ app.user.firstName and app.user.lastName ? app.user.firstName ~ ' ' ~ app.user.lastName : app.user.username }}">
</div>
<div>
    <div class="profile-name">
        <a href="#">{{ app.user.firstName and app.user.lastName ? app.user.firstName ~ ' ' ~ app.user.lastName : app.user.username }}</a>
    </div>
    <a href="{{ path('fos_user_profile_edit') }}" class="profile-link">(edit profile)</a>
</div>
