<div class="profile-image">
    <img src="{{ asset('img/noprofileimage.jpg') }}" align="left">
</div>
<div>
    <div class="profile-name">
        <a href="#">Name Here</a>
    </div>
    <a href="#" class="profile-link">(edit profile)</a>
</div>