{% extends "PrayerToShareCoreBundle:Layout:layout.html.twig" %}

{% block nav %}
    <nav class="sidebar">
        {% include "PrayerToShareMainBundle:Dashboard:_sidebar.html.twig" %}
    </nav>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="prayer-form">
            {% include "PrayerToShareMainBundle:Dashboard:_post.html.twig" %}
        </div>

        <div class="prayer-feed">
            {% include "PrayerToShareMainBundle:Dashboard:_feed.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block requirejs %}
    <script type="text/javascript">
        var requirejsModule = 'pages/dashboard';
        var pageOptions = {};
    </script>
{% endblock %}
