parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_name: p2s
    database_user: p2s
    database_password: p2s

    mailer_transport: gmail
    mailer_user: "test@test.com"
    mailer_password: "test"

    locale: en

    secret: thisisasecret

    amazon_aws_key: "abc"
    amazon_aws_secret_key: "123"
    amazon_s3_base_url: "https://s3.amazonaws.com/p2s-test/"
    amazon_s3_bucket_name:  "bucket-name"

    local_file_path: %kernel.root_dir%/../web/uploads/local"
    mandrill_api_key: "abc123"
