<div class="copy">
    <h1 class="title">Let's Do Life <div>Together</div></h1>
    <div class="text">Build a community of faith, hope, and love through prayers and support.</div>
    <div class="verse">"Truly I tell you that if two of you on earth agree about anything they ask for, it will be done for them by my Father in heaven. For where two or three gather in my name, there am I with them."<div> ~ Matthew 18:20</div></div>
</div>
