<form method="post" action="{{ path("fos_user_security_check") }}">
    <div class="block">
        <label for="_email">Email</label>
        <input type="text" name="_email" class="login_input" tabindex="1" />
        <label class="remember-me clear">
            <input type="checkbox" name="_remember_me" value="on" class="remember-me">
            Remember me
        </label>
    </div>
    <div class="block">
        <label for="password">Password</label>
        <input type="password" name="_password" class="login_input" tabindex="2" />
        <label class="forgot-password clear">
            <a href="forgot_password.php">Forgot Password?</a>
        </label>
    </div>   
    <div class="block login-button">
        <input type="submit" name="_submit" value="Sign In" class="login_submit btn btn-sm" tabindex="3" />
    </div>
    <input type="hidden" name="pts_action" value="log_in" />
    <input type="hidden" name="_csrf_token" value="{{ use_csrf_token ? csrf_token : auth_csrf_token }}" />
</form>
