<form method="post" action="">
    <div class="block twelve left">
        <label for="email">Email</label>
        <input type="text" name="email" class="register_input" />
    </div>
    <div class="block six left">
        <label for="password">Password</label>
        <input type="password" name="password" class="register_input" />
    </div>
    <div class="block six left">
        <label for="pwconfirm">Re-enter Password</label>
        <input type="text" name="pwconfirm" class="register_input" />
    </div>
    <div class="block six left">
        <label for="fname">First Name</label>
        <input type="text" name="fname" class="register_input" />
    </div>
    <div class="block six left">
        <label for="lname">Last Name</label>
        <input type="text" name="lname" class="register_input" />
    </div>
    <div class="block twelve">
        <input type="submit" name="submit" value="Sign Up" class="login_submit right" />
    </div>
    <input type="hidden" name="pts_action" value="register" />
</form>