{% extends "PrayerToShareCoreBundle:Layout:layout.html.twig" %}

{% block content %}
    <div class="login_register">
        <div class="slide-container">
            <div class="left">
                <div class="login four left">
                    <h2 class="box_headline">Sign In</h2>
                    <div class="login_form">

                        {% set use_csrf_token = false %}
                        {% include "PrayerToShareMainBundle:Homepage:_login-form.html.twig" %}

                    </div>
                </div>
                <div class="login-copy eight right">
                    <div class="opacity-bg"></div>
                    {% include "PrayerToShareMainBundle:Homepage:_copy.html.twig" %}
                </div>
            </div>
            <div class="left">
                <div class="register-copy five left">
                    <div class="opacity-bg"></div>
                    {% include "PrayerToShareMainBundle:Homepage:_copy.html.twig" %}
                </div>
                <div class="register seven right">
                    <h2 class="box_headline">Sign Up</h2>
                    <div class="login_form">

                        {% include "PrayerToShareUserBundle:Registration:register_content.html.twig" with {form: regForm}%}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block requirejs %}
    {{ include('PrayerToShareCoreBundle:Layout:requirejs.html.twig', {module: 'pages/homepage'}) }}
{% endblock %}
