/***
    Login / Register Styles
***/
.login_register {
    padding: 24px 0;
    margin: 0 26px;
    overflow: hidden;
    height: 440px;
    position: relative;

    .slide-container {
        width: 100%;
    }

    .login-copy,
    .register-copy {
        min-height: 360px;
        position: relative;

        .opacity-bg {
            background: #4d788c;
            .opacity(100);
            border: 1px solid #C3AF97;
            height: 295px;
            position: absolute;
            top: 20px;
            left: 0;
            width: 98%;
            z-index: 4;
            border-left: 0;
            .boxShadow(-7px, 6px, 8px, -5px, #5c4938);
            .border-radius(0 3px 3px 0);
        }

        .copy {
            position: absolute;
            top: 20px;
            left: 0;
            width: 98%;
            z-index: 5;
            padding: 24px 24px 24px 0;

            h1.title {
                font-size: 30px;
                line-height: 30px;
                font-weight: 100;
                color: #018692;
                padding-bottom: 16px;
                margin-bottom: 20px;
                display: inline-block;
                border-bottom: 2px solid #018692;

                > div {
                    line-height: 36px;
                    font-size: 42px;
                    display: inline-block;
                    vertical-align: baseline;
                }
            }

            .text {
                font-size: 18px;
                line-height: 30px;
                padding-bottom: 36px;
                font-weight: 200;
                color: #2d2d2d;
            }

            .verse {
                font-style: italic;
                font-size: 14px;
                line-height: 22px;
                color: #999;
                font-weight: 200;

                > div {
                    font-weight: 400;
                    text-align: right;
                    padding-right: 12px;
                    padding-top: 4px;
                }
            }
        }
    }

    .login,
    .register {
        padding: 16px 0 16px 24px;
        display: inline-block;
        overflow: hidden;
        min-height: 360px;
        border-left: 1px solid #e6e6e6;

        label {
            color: #2d2d2d;
            font-weight: 400;
            padding: 3px 0 0;
            display: block;
            font-size: 14px;
        }

        .login_submit.btn {
            margin-top: 15px;
        }

        input:not(.btn) {
            padding: 10px;
            #font .straight;
            border: 1px solid #e6e6e6;
            margin-bottom: 10px;
            width: 100%;
            .border-radius(3px);
        }

        input[type="checkbox"].remember-me {
            margin: 0;
            margin-left: 5px;
            width: auto;
            display: inline;
            float: none;
            vertical-align: bottom;
        }
    }

    .reg-container {
        padding-left: 24px;
    }

    .login-copy .copy {
        left: auto;
        right: 0;
        padding: 24px 0 24px 24px;
    }

    .login {
        padding: 16px 24px 16px 0;
        border-left: 0;
        border-right: 1px solid #e6e6e6;
    }
}

.block {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;

    &.log-in {
        padding: 24px 10px;
        font-weight: 400;
        font-size: 14px;

        a {
            color: #018692;
            font-weight: 500;
            font-size: 16px;
            margin-left: 5px;
            text-decoration: underline;
        }
    }

    .login_form & {
        display: block;

        .login-button {
            text-align: right;
            clear: both;
        }

        input[type="checkbox"].remember-me {
            float: none;
            width: auto !important;
            margin: 0 5px 0 0 !important;
            display: inline-block;
            vertical-align: baseline;
        }

        label {
            &.remember-me {
                float: left;
                font-size: 12px;
            }

            &.forgot-password {
                float: right;
                text-align: right;
                font-size: 12px;
                clear: right;
            }
        }
    }
}
