.sidebar {
    width: 220px;
    background: #018692;
    padding: 12px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    overflow-y: auto;
    color: white;

    h2.subtitle {
        font: 400 20px 'Josefin Sans';
        color: white;

        a,
        a:hover {
            color: white;
        }
    }

    .btn {
        width: 100%;
        background: #38a8b2;
        padding: 5px 8px;
        color: white;
    }

    .profile {
        overflow: hidden;
        font-size: 12px;
        padding-bottom: 9px;
        border-bottom: 1px solid #38a8b2;

        .profile-image {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border: 1px solid #fff;
            overflow: hidden;
            float: left;

            img {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }

        .profile-name {
            padding-top: 3px;

            a {
                font: 400 20px 'Josefin Sans';
            }
        }

        .profile-link {
            font-size: 11px;
        }
    }

    .prayer-groups {
        font-size: 12px;
        padding-bottom: 24px;
        border-bottom: 1px solid #38a8b2;

         > div {
            padding: 2px 0;
        }
    }

    .prayer-groups,
    .profile {
        margin-bottom: 24px;
        font-size: 12px;

        a,
        a:hover {
            color: white;

            &.view-all {
                font-weight: bold;
            }
        }
    }

    .stats {
        padding: 5px 0;
        margin-bottom: 24px;
        background: #f9f7f3;

        > div {
            padding: 0;
            overflow: hidden;

            > span {
                width: 50%;
                float: left;
                padding: 3px 10px;
                text-align: left;
                font: normal 12px/20px 'Open Sans';
                color: black;

                &.count {
                    font-weight: 600;
                    text-align: right;
                }
            }
        }
    }

    .quoted {
        .boxShadow(0, 12px, 8px, -10px, #5c4938);
        margin-bottom: 24px;

        > div {
            border: 1px solid #fff;
            overflow: hidden;
            padding: 12px;
            .boxShadowInset(0, 0, 5px, 0, #E2DED3);
            font-size: 12px;
            background: #E1E9EB;
        }
    }
}
