<div id="footer">
    <div class="footer-inner">
        <div class="bottom-verse">
            <img src="{{ asset('img/bottomverse.jpg') }}" border="0" alt="1 John 5:14-15" title="1 John 5:14-15" />
        </div>
        <div class="affiliates"></div>
        <div class="copyright">&copy; 2012 Prayer To Share. All rights reserved.</div>
    </div>
</div>