<footer class="footer-placeholder"></footer>

<footer id="footer" class="footer">
    <div class="footer-bottom">
    	<div class="footer-inner">
    		<div class="copyright">&copy; 2016 Prayer To Share. All rights reserved.</div>
    	</div>
    </div>
</footer>
