<section class="verse">
    <div class="section-inner">
        <div class="bottom-verse">
            <div class="verse">This is the confidence we have in approaching God: that if we ask anything according to His will, He hears us. And if we know that He hears us - whatever we ask - we know that we have what we asked of him."</div>
            <div class="passage">1 John 5:14-15</div>
        </div>
        <div class="affiliates"></div>
    </div>
</section>
