<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Prayer to Share{% endblock %}</title>
    <meta name="description" content="Prayer to Share" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/p2s.css') }}">
    {% block requirejs '' %}
</head>
<body>

{% include "PrayerToShareCoreBundle:Layout:_header.html.twig" %}

<div id="container">
    <div id="body">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" href="#">×</a>
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}Default Content{% endblock %}
    </div>
</div>

{% include "PrayerToShareCoreBundle:Layout:_footer.html.twig" %}

</body>
</html>
